<!DOCTYPE html>
<html>
    <body>
<di class="container">
    <div class="row">
        <h1 style="text-align:center">enter info</h1>
        <div style="width:30%; margin:25px auto">
            <form action="/new" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="name">
                    <input class="form-control" type="text" placeholder="address" name="address">
                    <input class="form-control" type="float" placeholder="lat" name="lat">
                    <input class="form-control" type="float" placeholder="lon" name="lon">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>